<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Author</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="library-title">Add a New Author</h1>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                  <p class="success-message">{{ message }}</p>
                {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        <form action="/add_author" method="POST" class="author-form">
            <label for="name" class="form-label">Author Name:</label>
            <input type="text" id="name" name="name" required class="form-input"><br><br>

            <label for="birthdate" class="form-label">Birthdate:</label>
            <input type="date" id="birthdate" name="birthdate" required class="form-input"><br><br>

            <label for="date_of_death" class="form-label">Date of Death:</label>
            <input type="date" id="date_of_death" name="date_of_death" class="form-input"><br><br>

            <input type="submit" value="Add Author" class="submit-button">
        </form>
    </div>
</body>
</html>